<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.css" /> -->
    
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
     
    <!-- endbuild -->
    
    <link href="~/bower_components/angular-motion/dist/angular-motion.min.css" rel="stylesheet" />
    <!-- <link href="~/bower_components/bootstrap/dist/css/spacelab.bootstrap.css" rel="stylesheet" /> -->
    <link href="~/bower_components/bootstrap/dist/css/slate.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/app/styles/main.css"> 

</head>
<body ng-app="portApp" ng-controller="mainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="container">
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Port</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: activeView == 'dashboard' }"><a href="/">Dashboard</a></li>

                        <li class="dropdown" ng-class="{ active: activeView == 'watchlist' }">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Watchlists <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="!watchlists.length" class="dropdown-header">No watchlists found</li>
                                <!-- create unique link for each watchlist -->
                                <li ng-repeat="watchlist in watchlists track by $index">
                                    <a href="/#/watchlist/{{watchlist.id}}">{{watchlist.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                        
                </div>
            </div>
        </nav>

        <div ng-view=""></div>
        
        <hr/>

        <div class="footer text-center">
            <p>&copy; 2015 Adrian Dormer</p>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!-- 
        <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/bower_components/angular-resource/angular-resource.js"></script>
    <script src="~/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-touch/angular-touch.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="~/app/scripts/app.js"></script>
    <!-- endbuild -->
    
    <script src="~/bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="~/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="~/bower_components/lodash/lodash.min.js"></script>

    <script src="~/app/scripts/services/watchlist-service.js"></script>
    <script src="~/app/scripts/directives/watchlist-panel.js"></script>
    <script src="~/app/scripts/controllers/main.js"></script>
    <script src="~/app/scripts/controllers/dashboard.js"></script>
    <script src="~/app/scripts/controllers/watchlist.js"></script>
    <script src="~/app/scripts/services/company-service.js"></script>
    <script src="~/app/scripts/directives/stock-table.js"></script>
    <script src="~/app/scripts/directives/stock-row.js"></script>
    <script src="~/app/scripts/services/quote-service.js"></script>
    <script src="~/app/scripts/directives/sign-colour.js"></script>
    <script src="~/app/scripts/directives/sign-fade.js"></script>
    <script src="~/bower_components/angular-google-chart/ng-google-chart.js"></script>

</body>
</html>
